<header id="header" class="dark flat-menu single-menu">
    <div class="container">
        <h1 class="logo">
            <a href="/index.html">
                <img alt="Organic Element" width="330" height="44" data-sticky-width="200" data-sticky-height="32" src="{{ site.baseurl }}/custom/img/logo2.svg">
            </a>
        </h1>
        <div class="search">
            <form id="searchForm" action="page-search-results.html" method="get">
                <div class="input-group">
                    <input type="text" class="form-control search" name="q" id="q" placeholder="Search..." required>
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
								</span>
                </div>
            </form>
        </div>
        <nav>
            <ul class="nav nav-pills nav-top">
                <li>
                    <a href="about-us.html"><i class="fa fa-angle-right"></i>About Us</a>
                </li>
                <li>
                    <a href="contact-us.html"><i class="fa fa-angle-right"></i>Contact Us</a>
                </li>
                <li class="phone">
                    <span><i class="fa fa-phone"></i>(720) 341-4410</span>
                </li>
            </ul>
        </nav>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="navbar-collapse nav-main-collapse collapse">
        <div class="container">
            <ul class="social-icons">
                <li class="twitter"><a href="http://www.twitter.com/ccustine" target="_blank" title="Twitter">Twitter</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/ccustine" target="_blank" title="Linkedin">Linkedin</a></li>
                <li class="googleplus"><a href="https://plus.google.com/+ChrisCustine" target="_blank" title="Linkedin">Google+</a></li>
            </ul>
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main" id="mainMenu">
                    <li {% if page.url == '/index.html' %} class="active"{% endif %}>
                        <a href="{{ site.baseurl }}/index.html">Home</a>
                    </li>
                    <li {% if page.url contains '/blog' %} class="active"{% endif %}>
                        <a href="{{ site.baseurl }}/blog">Blog</a>
                    </li>
                    <li {% if page.url == '/services.html' %} class="active"{% endif %}>
                        <a href="{{ site.baseurl }}/services.html">What We Do</a>
                    </li>
                    <li class="dropdown mega-menu-item mega-menu-fullwidth">
                        <a class="dropdown-toggle" href="#">
                            About Us
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!--...things we do-->
                            <li>
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">About Us <em class="not-included">(... or about me)</em></span>
                                                    <ul class="sub-menu">
                                                        <li><a href="{{ site.baseurl }}/about.html">Chris Custine</a></li>
                                                        <li><a href="{{ site.baseurl }}/about-projects.html">Projects</a></li>
                                                        <li><a href="{{ site.baseurl }}/about-events.html">Events</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">Apache <em class="not-included">Committer and PMC Member</em></span>
                                                    <ul class="sub-menu">
                                                        <li><a href="http://directory.apache.org/">Directory Server</a></li>
                                                        <li><a href="http://servicemix.apache.org/">ServiceMix</a></li>
                                                        <li><a href="http://felix.apache.org/">Felix</a></li>
                                                        <li><a href="http://karaf.apache.org/">Karaf</a></li>
                                                        <li><a href="http://jclouds.apache.org/">jclouds</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">Github <em class="not-included">(Odds and Ends)</em></span>
                                                    <ul class="sub-menu">
                                                        <li><a href="https://github.com/ccustine/sass4j">Sass4j</a></li>
                                                        <li><a href="https://github.com/ccustine/littlesnapper-chrome">Little Snapper - Chrome Extension</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">Embedded Systems and UAV<em class="not-included">(Its the little things...)</em></span>
                                                    <ul class="sub-menu">
                                                        <li><a href="https://www.gumstix.com/">Gumstix</a></li>
                                                        <li><a href="http://www.arduino.cc/">Arduino</a></li>
                                                        <li><a href="https://pixhawk.org/choice">Pixhawk</a></li>
                                                        <li><a href="http://ardupilot.com/">APM</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="sub-menu">
                                                <li>
                                                    <span class="mega-menu-sub-title">Misc.</span>
                                                    <ul class="sub-menu">
                                                        <li><a href="http://opencv.org/">OpenCV</a></li>
                                                        <li><a href="http://www.libelium.com/products/meshlium/"></a>Lebelium - Meshlium</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li {% if page.url contains '/contact' %} class="active"{% endif %}>
                        <a href="{{ site.baseurl }}/contact.html">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
